.text {
  font-size: 25px;
  background: transparent;
  color: white;
  outline: none;
  border-style: hidden;
  border-bottom: 1px solid white;
}

.text:focus {
  outline: none;
}

.text::placeholder {
  color: white;
}

.btn {
  font-size: 25px;
  margin-left: 15px;
  background: transparent;
  color: white;
  border: 1px solid white;
}

.foodForm {
  margin-top: 200px;
}

th,
td {
  display: inline-block;
  margin-right: 50px;
  width: 140px;
}

@media (max-width: 420px) {
  .foodForm {
    margin-top: 20px;
    display: inline-block;
  }

  .btn {
    margin: 10px auto;
    display: block;
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }

  th,
  td {
    width: 35px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
