html {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(71, 70, 70, 0.747),
      rgba(12, 6, 11, 0.73)
    ),
    url("./Assets/flat-lay-photography-of-vegetable-salad-on-plate-1640777.jpg");
  background-size: cover;
}
h1 {
  letter-spacing: 4px;
  font-size: 50px;
}

body {
  height: 100vh;
  margin: 100px auto;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 420px) {
  h1 {
    font-size: 30px;
  }

  body {
    margin: 40px auto;
  }
  html {
    height: 1000px;
  }
}
